.chat-input {
  display: flex;
  margin: 20px;
  position: relative;

  &__smile-btn {
    display: flex;
    align-items: center;
    margin-right: 6px;
  }

  &__emoji-picker {
    position: absolute;
    bottom: 55px;
    left: 0;
    z-index: 1;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55px;

    /* FIXME cursor pointer */
    &-upload-btn {
      cursor: pointer;

      input {
        cursor: pointer;
      }

      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }
}

/* ant customize */
.ant-btn-circle {
  .anticon {
    cursor: pointer;
    font-size: 20px;
  }
}

.ant-input-affix-wrapper {
  &-focused {
    box-shadow: none !important;
  }

  & > input {
    font-size: 16px;
    padding: 6px 11px 8px;
  }
}
