@import '~styles/variables';

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 20px;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__date {
    // position: absolute; // custom
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    line-height: 20px;
    color: #fff;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;

    &-item {
      margin-right: 5px;
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__icon-read {
    position: absolute;
    bottom: 22px;
    left: -25px;

    &--non {
      left: -20px;
    }
  }

  /* is-audio message condition */
  &--is-audio {
    audio {
      display: none;
    }

    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {
      &-progress {
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        background-color: #418fff;
        transition: width 0.2s ease;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-btn {
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            height: 13px;
          }
        }
      }

      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }

  /* isMe message condition */
  &--isMe {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.022); // 0.022 alpha
      border-radius: 12px 12px 0px 12px;

      #{$self}__text {
        color: $black;
      }
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: 15px 18px;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 8px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }
      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }
}

/* typing bubble animation */
@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}
