.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  &--char {
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
  }
}
